.nt_th1{background:#E6E4E4;border:2px solid #E6E4E4;}
.nt_th2{background:#E6E4E4;border:2px solid #E6E4E4;}
.ye_th{background:#CCC7C5;border:2px solid #CCC7C5;}
.mt_th{background:#98CA6A;}
#datepicker{display:none;height:210px;position:relative;margin-left:5px;margin-top:10px;padding:10px;background:#FFFFFF;width:180px;text-align: center;box-shadow: 1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);}
#datepic_month{position:absolute;z-index:1;top:10px;background:#EC5E60;font-size: 1.7em;line-height: 1.3em;color: #FFFFFF;width:180px;height: 28px;line-height: 28px;}
#datepic_btn{position:absolute;z-index:3;top:8px;width:180px;height:33px;}
#datepic_btn div{background-image: url(../images/bitimg.png);height:33px;width:90px;}
.leftpic_btn{background-position:0px -405px;float:left;}
.leftpic_btn:hover{background-position:0px -446px;}
.rightpic_btn{background-position:-130px -405px;float:right;}
.rightpic_btn:hover{background-position:-130px -446px;}
#datepicker table{margin-top:3px;position:relative;top:30px;}
#datepicker th{height: 12px;width:20px;font-size: 5em;}
#datepicker td{width:21px;height:21px;text-align: center;font-size: 5em;color:#FFFFFF;}
#datepicker td a{color:#FFFFFF;font-size: 1em;}
.date_time{display:none;margin-top:41px;margin-left:-10px;width:200px;}
.date_time div,.date_control div,.control_cont div{float:left;}
.date_time_left,.date_time_right,.control_left,.control_right{width:8px;height:26px;background-image: url(../images/sell.png);}
.date_time_left{background-position: 0px -260px;}
.date_time_right{background-position: -10px -260px;}
.date_time_cont{background:#878787;height:26px;width:184px;}
.date_time_cont p{font-size: 1.2em;color: #fff;}
.date_control{display:none;margin-top:67px;width:116px;}
.control_left{background-position: -24px -260px;}
.control_right{background-position: -36px -260px;}
.control_cont{background:#595959;width:60px;height:26px;}
.ctl_cont_left,.ctl_cont_right,.ctl_cont_cont{margin-top:6px;width: 18px;height:14px;background-image:url(../images/sell.png);}
.ctl_cont_left{margin-left:4px;background-position: -53px -259px;}
.ctl_cont_left:hover{background-position: -53px -279px;}
.ctl_cont_right{background-position: -77px -259px;margin-left:8px;}
.ctl_cont_right:hover{background-position: -77px -279px;}
.ctl_cont_cont{width:2px;height:15px;background-position: -48px -260px;margin-left:6px;}
#ipt_date_hr{width:20px;}
#ipt_date_time{width:40px;}
#sel_time{display:none;width:46px;height:81px;position:absolute;top:252px;right:33px;border-left:1px #878787 solid;border-right:1px #878787 solid;border-bottom:1px #878787 solid;}
#sel_time div{font-size:1em;width:46px;height:20px;line-height: 20px;}
.sel_time_tt{background:#F2EEED;}
.sel_time_dd{background:#FFFFFF;}
.date_sel_clk{background:#EC5E60;border:2px solid #EC5E60;}
.date_meet{background:#45B5FF;border:2px solid #45B5FF;}
.date_clk{border:2px solid #EC5E60;}