@charset "utf-8";
/* CSS Document */
.kui_d_pane{ position:absolute; width:187px; margin:0;}
.kui_data_content_pane{ border:1px solid #1F73C9; width:185px; overflow:hidden; font-size:12px; position:absolute;z-index:1000000; left:0; top:0; background:#fff;}
.kui_data_content_pane a:link,.kui_data_content_pane a:visited{ color:#222222; text-decoration:none;}
.kui_data_content_pane a:hover{ color:#fff;}
.kui_prev_next_month{ background:url(../../images/date_top.png) -2px 0 no-repeat; border-bottom:1px solid #1F73C9; height:23px; line-height:23px; font-weight:900; text-align:center;}
.kui_prev_m,.kui_today{ float:left; margin-left:3px;}
.kui_today{ width:125px; text-align:center; color:#fff; cursor:default;}
.kui_next_m{ float:right; margin-right:3px;}
.kui_prev_m,.kui_next_m{ margin-top:1px;}
.kui_year_month,.kui_fun_btn{ line-height:23px; height:23px; background:#5DAFE0; color:#fff; font-weight:900;}
.kui_fun_btn{ background:#2192D6;}
.kui_year{ float:left;}
.kui_month{ float:left; margin-left:5px;}
.kui_year_select{ font-size:12px; width:55px;}
.kui_month_select{ font-size:12px; width:40px;}
.kui_data_tab{ width:186px; margin-left:-1px; clear:both;}
.kui_data_tab tr th,.kui_data_tab tr td{ line-height:20px; text-align:center; border-bottom:1px solid #71A0CB; cursor:default;}
.kui_data_tab tr td{ background:#DFEFFC; border-left:1px solid #71A0CB; border-bottom:1px solid #71A0CB; }
.kui_data_tab tr .kui_td_kong{ background:#fff; cursor:default; color:#999;}
.kui_time_pane{ background:#FCC87C; line-height:22px; height:22px; overflow:hidden;}
.kui_clean_btn{ float:left; padding-left:3px;}
.kui_confirm_btn{ float:right; padding-right:3px;}
.kui_hhmmss{ float:left; overflow:hidden; width:120px; height:23px; text-align:center; }
.kui_hhmmss input{ width:20px; height:13px; line-height:12px;}
.kui_time{ float:left; padding-left:8px;}
.kui_time input{ width:17px; padding:1px; line-height:12px; height:12px; margin-right:2px; margin-top:2px; _margin-top:1px;}
.kui_data_tab tr .td_select{ background:#2192D6; color:#fff;}
.kui_data_tab tr .td_hover{ background:#5DAFE0; cursor:pointer; color:#fff;}
.kui_txt_hide{ display:none;}
.kui_data_tab tr .kui_td_hui{ background:#EAEAEA; cursor:default; color:#999;}
.kui_hh_tips{ height:60px; line-height:20px; width:183px; display:none;}
.HMS{ border:1px solid blue; background:#fff; position:absolute; bottom:23px; left:4px; width:176px; white-space:normal; table-layout:fixed;word-break:break-all; word-wrap:break-word;}
.kui_mm_tips,.kui_ss_tips{ height:40px; line-height:20px; left:25px; width:134px; display:none; width:135px;}
.HMS a:link,.HMS a:visited{ width:22px; display:inline-block; text-align:center;}
.HMS a:hover{ color:red;}

.kui_next_m img,.kui_prev_m img{ border:0;}